.header {
    width: 100%;
    margin-top: 30px;
    overflow: hidden; 
    padding-bottom: 150px;
    background: url('/src/img/background.png');
    background-size: cover;
    
    &__wrapper {
        display: flex;
        flex-direction: row;
        
        .content {
            flex: 0 0 60%;
            margin-top: 50px; 

            form {
                margin-top: 30px;
                display: flex;
                flex-direction: row;

                .phone {
                    font-size: 18px;
                    text-align: center;
                    padding: 10px 0;
                    background: #f8f8f8;
                    border: 1px #e1e1e1 solid;
                }

                .btn {
                    font-size: 18px;
                    color: #fff;
                    background: $main-color;
                    border:none;
                    border-radius: 0%;
                    padding: 0 30px;
                }
            }
        }

        .img-header {
            position: relative;
            
            .img {
                flex: 0 0 100%;
                position: absolute;
                transform: translate(-10%, 0);
            }
        }
    }
}