.title {
    font-family: Calibri;
    font-size: calc(19px + 41 * (100vw / 1250));
    font-weight: bold;
    line-height: 70px;
    color: #141419;
    display: inline-block;
    position: relative;
    &__header {
        &::before {
            content: '';
            position: absolute;
            top: 45px;
            left: 5px;
            display: inline-block;
            width: 97%;
            height: 13px;
            z-index: -1;
            background-color: $main-color;
        }
    
        &::after{
            content: '';
            position: absolute;
            top: 115px;
            left: 5px;
            display: inline-block;
            width: 83%;
            height: 13px;
            z-index: -1;
            background-color: $main-color;
          }
    }

    &__about {
        text-align: center;

        &::before {
            content: '';
            position: absolute;
            top: 45px;
            display: inline-block;
            width: 100%;
            height: 13px;
            z-index: -1;
            background-color: $main-color;
        }
    }

    &__partners {
        &::before {
            content: '';
            position: absolute;
            top: 45px;
            left: 5px;
            display: inline-block;
            width: 97%;
            height: 13px;
            z-index: -1;
            background-color: $main-color;
        }
    
        &::after{
            content: '';
            position: absolute;
            top: 115px;
            left: 5px;
            display: inline-block;
            width: 65%;
            height: 13px;
            z-index: -1;
            background-color: $main-color;
          }
    }
    
}